<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/bookappointment.css">
    <link rel="icon" type="image/x-icon" href="../images/weblogo.png">
    <title>Tvastra | Book an Appointment</title>
</head>
<body>
    
<!-- header -->
<%- include("./partials/header")  %>
<!-- header --> 

<section>
    <div class="appointment-form">
        <h4>Book an Appointment</h4>
        <hr>
<!-- Doctor Info -->
        <% docimg = ""; %>
        <% var exp ; %>
        <% var hospital = ""; %>
        <% var speciality = ""; %>
        <% if(doctorname == "Duke Sanson") { %>
            <%  docimg = "https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"; %>
            <%  exp = 8 %>
            <%  hospital = "Northstar" %>
            <%  speciality = "Cancer" %>
        <% } %>
        <% if(doctorname == "Rose Moon") { %>
            <%  docimg = "https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg"; %>
            <%  exp = 5 %>
            <%  hospital = "AIIMS" %>
            <%  speciality = "Cancer" %>
        <% } %>
        <% if(doctorname == "Coni Star") { %>
            <%  docimg = "https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg"; %>
            <%  exp = 5 %>
            <%  hospital = "Fortis" %>
            <%  speciality = "Cardiology" %>
        <% } %>
        <% if(doctorname == "Georgia Peter") { %>
            <%  docimg = "https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg"; %>
            <%  exp = 10 %>
            <%  hospital = "Elbit Daignostics" %>
            <%  speciality = "Cardiology" %>
        <% } %>
        <% if(doctorname == "Jonny Eve") { %>
            <%  docimg = "https://cerebralpalsynewstoday.com/wp-content/uploads/2017/06/shutterstock_52856165-921x480@2x.jpg"; %>
            <%  exp = 15 %>
            <%  hospital = "Manipal North Hosptial" %>
            <%  speciality = "Dentistry" %>
        <% } %>
        <% if(doctorname == "Charlie Moon") { %>
            <%  docimg = "https://www.cdc.gov/diabetes/images/library/spotlights/Male-doctor-smiling-portrait-close-up-Med-Res-72991363.jpg"; %>
            <%  exp = 10 %>
            <%  hospital = "Apollo Hospital" %>
            <%  speciality = "Dentistry" %>
        <% } %>
        <% if(doctorname == "Erin Nier") { %>
            <%  docimg = "https://post.medicalnewstoday.com/wp-content/uploads/2019/01/Male_Doctor_732x549-thumbnail.jpg"; %>
            <%  exp = 15 %>
            <%  hospital = "Northstar Hospital" %>
            <%  speciality = "Fertility" %>
        <% } %>
        <% if(doctorname == "Romeo") { %>
            <%  docimg = "https://otwartegrupy.pl/img/lekarz_bestdoctors.jpg"; %>
            <%  exp = 25 %>
            <%  hospital = "AIIMS" %>
            <%  speciality = "Infertility Treatment" %>
        <% } %>
        <% if(doctorname == "Steve Roc") { %>
            <%  docimg = "https://images.theconversation.com/files/304957/original/file-20191203-66986-im7o5.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop"; %>
            <%  exp = 20 %>
            <%  hospital = "Fortis" %>
            <%  speciality = "Orthopedics Surgery" %>
        <% } %>
        <% if(doctorname == "Zacli Sent") { %>
            <%  docimg = "https://telemedizin.one/wp-content/uploads/2019/12/doctor07.jpg.pagespeed.ce.vrs67renwa.jpg"; %>
            <%  exp = 20 %>
            <%  hospital = "Elbit" %>
            <%  speciality = "Orthopedics Surgery" %>
        <% } %>
        <% if(doctorname == "Bironi White") { %>
            <%  docimg = "https://www.cdc.gov/drugoverdose/training/modules/module1/images/welcomeimage.png"; %>
            <%  exp = 25 %>
            <%  hospital = "Manipal North Hospital" %>
            <%  speciality = "Multi Organ Transplant" %>
        <% } %>
        <% if(doctorname == "Vrijuk Sent") { %>
            <%  docimg = "https://image.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg"; %>
            <%  exp = 30 %>
            <%  hospital = "Apollo" %>
            <%  speciality = "Multi Organ Transplant" %>
        <% } %>
        <% if(doctorname == "Symphony Lec") { %>
            <%  docimg = "https://webcomicms.net/sites/default/files/clipart/174399/picture-doctor-174399-2506358.jpg"; %>
            <%  exp = 30 %>
            <%  hospital = "AIIMS" %>
            <%  speciality = "Multi Organ Transplant" %>
        <% } %>
<!-- Doctor Info -->
        
        <form method="POST" action="Booked_Appointment" class="form">
            <div class="appointment-doc-info">
                <div class="doc-data">
                    <span>
                        <label for="doctorname">Dr.</label>
                        <input type="text" id="doctorname" name="doctorname" value="<%= doctorname %>" readonly>
                    </span>
                    <span>
                        <label for="experience">Experience -</label>
                        <input type="text" id="experience"  name="Experience" value="<%= exp %>" readonly></span>
                    <span>
                        <label for="hospital">Hospital -</label>
                        <input type="text" id="hospital" name="Hospital" value="<%= hospital %>" readonly></span>
                    <span>
                        <label for="speciality">Speciality -</label>
                        <input type="text" id="speciality" name="Speciality" value="<%= speciality %>" readonly></span>
                </div>
                <div class="appointment-doc-img">
                    <img src=<%= docimg %> alt=""></a>
                </div>
                
            </div>
            <label class="font-bold" for="appointment-date">Select Appointment Date*</label>
            <input type="datetime-local" name="appointment_date" id="appointment-date" required>
            <div class="time-interval-div">
                <label class="font-bold" for="routine">Appointment Status / Urgency*</label><br>
                <input type="radio" name="Appointment_Status" class="time-interval-class" id="routine" value="Routine Check Up" required>
                <label for="routine">Routine Check-Up</label><br>
                <input type="radio" name="Appointment_Status" class="time-interval-class" id="non-urgent-checkup" value="Non Urgent Check up">
                <label for="non-urgent-checkup">Non Urgent Check-Up</label><br>
                <input type="radio" name="Appointment_Status" class="time-interval-class" id="urgent-checkup" value="Urgent Check Up">
                <label for="urgent-checkup">Urgent Check-Up</label><br>
                <input type="radio" name="Appointment_Status" class="time-interval-class" id="surgical-appointment" value="Surgical Appointment">
                <label for="surgical-appointment">Surgical Appointment</label><br>
            </div>
            <h3>Upload Previous Health Record</h3>
            <input type="file" class="file-button" id="file-button">
            <h3>Appointment Details</h3>
            <textarea name="more_info" id="" cols="30" rows="5" placeholder="Please Provide extra information, If any Or Tell us your condition!!" ></textarea>
            <button type="submit">BOOK APPOINTMENT</button>
        </form>
    </div>
    <p class="login-footer">All Rights Reserved. &#169; tvastra 2021</p>
 </section>
</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
<script src="../Dom/test.js"></script>
</html>