<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="icon" type="image/x-icon" href="../images/weblogo.png">
    <title>Tvastra | <%= user.name %></title>
</head>
<body>
<!-- header -->
<%- include("./partials/header") %>
<!-- header -->
<section class="profile-sec-1 container">
  <div class="left-section">
    <h3>Dashboard</h3>
    <ul>
        <li id="profile" class="active" onclick="showprofile()"><i class="fas fa-user "></i> Profile</li>
        <li id="showappointment" onclick="showappointment()"><i class="fas fa-calendar-check"></i> My Appointments</li>
        <li id="medicalrecords" onclick="medicalrecords()"><i class="fas fa-clipboard"></i> Medical Records</li>
        <li id="settings" onclick="showsettings()"><i class="fas fa-user-cog"></i> Settings</li>
    </ul>
  </div>
    <div class="right-section">
      <!-- Profile Content -->
       <div id="profile-content">
          <h3>Account</h3>
          <div class="right-section-div-1">
            <span><i class="fas fa-user-circle profile-pic fa-5x"></i>
             
              <input type="file" id="profile-pic"></span>
            <span><label for="name">Name</label>
              <input type="text" name="name" id="name" value=<%= user.name %> readonly></span>
          </div> 
        <hr style="margin: 20px 0 30px;">
          <div class="right-section-div-2">
              <span>
                <label for="mobile">Mobile Number</label>
                <input type="number" name="mobile" value=<%= user.mobile %> readonly>
              </span>
             <span>
                <label for="email">Email</label>
                <input type="email" name="email" value=<%= user.email %> readonly>
             </span>             
             <span>
               <label for="gender">Gender</label>
               <input type="text" name="gender" value=<%= user.gender %> readonly>
            </span>
            <!-- Changing date format for better understanding -->
                 <% let newdate = new Date (user.date)
                    newdate = newdate.toDateString()
                    newdate = newdate.split(' ')
                    newdate = newdate.splice(1); %>
            <span>
              <label for="date">Date Of Birth</label>
              <input type="text" name="date" value="<%= newdate %>" readonly>
            </span>
            <span>
              <label for="city">City</label>
              <input type="text" name="city" value="<%= user.city %>" placeholder="No city selected" readonly>
            </span>
            <span>
              <label for="state">State</label>
              <input type="text" name="state" value="<%= user.state %>"  placeholder="No state selected" readonly>
            </span>
            <span>
              <label for="country">Country</label>
              <input type="text" name="country" value="<%= user.country %>" placeholder="No country selected" readonly>
            </span>
            <span>
              <label for="bloodgroup">Blood Group</label>
              <input type="text" name="bloodgroup" value="<%= user.blood %>" placeholder="No data available" readonly>
            </span>
          </div>   
       </div>

      <!-- Appointment Content -->
      <div id="appointment-content">
          <h3>Appointments</h3>
          <% let data = user.appointments %>
          <% let appointments = user.appointments.length %>
          <% if(appointments >0) { %>
            <% for(let i=0;i<appointments;i++){ %>
                  <div class="appointment-tab">
                    <form class="appointment-tab-form" action="cancel_appointment" method="POST">
                        <div class="appointment-tab-left">
                        <span>
                          <label for="appointment_id">Appointment ID</label>
                          <input type="text" id="appointment_id" name="appointment_id" value="<%= data[i]._id %>" readonly>
                        </span>
                        <hr>
                        <span>
                          <label for="appoitment_date">Appointment Date</label>
                          <input type="text" id="appointment_date" name="appointment_date" value="<%= data[i].appointment_date %>" readonly>
                        </span>
                        <hr>
                        <span>
                          <label for="appointment_status">Appointment Status</label>
                          <input type="text" id="appointment_status" name="appointment_status" value="<%= data[i].appointment_status %>" readonly>
                        </span>
                        <hr>
                        </div>
                        <div class="appointment-tab-right">
                          <span>
                            <label for="Doctor">Doctor Name</label>
                            <input type="text" id="Doctor" name="doctor" value="<%= data[i].appointment_doctor %>" readonly>
                          </span>
                          <hr>
                        </div>
                    <div id="appointment-buttons">
                    <a href="appointment_update"><button>Update Appointment</button></a>
                    <button type="submit">Cancel Appointment</button>
                    </div>
                  </form>
                  </div>
                <% } %>
          <% } %>
          <% if(appointments == 0) { %>
            <h3 style="color: var(--blue);"><%= "No Appointments Scheduled"  %></h3>
         <% } %>
      </div>

      <!-- Medical Records Content -->
      <div id="medical-content">
        <h3>Medical Records</h3>
        <div style="margin: 1rem;">
          <h4>No Data Available.....</h4>
        </div>
    </div>

    <!-- Settings Content -->
    <div id="setting-content">
      <form action="Update_Profile" method="POST" enctype="multipart/form-data">
          <span class="setting-header"><h3>Settings</h3><button class="update-profile" type="submit">Confirm Changes</button></span>
          <hr style="margin: 20px 0;">

            <div class="right-section-div-1">
              <span>
                <i class="fas fa-user-circle profile-pic fa-5x"></i>
                <label class="profile-pic-button" for="profile-pic">Choose a Photo</label>
                <input type="file" id="profile-pic" name="profile_pic">
              </span>

              <span>
                <label for="name">Name<i class="fas fa-pen"></i></label>
                <input type="text" name="name" id="name" value=<%= user.name %> >
              </span>
            </div> 

          <hr style="margin: 20px 0 30px;">

            <div class="right-section-div-2">
                <span>
                  <label for="mobile">Mobile Number<i class="fas fa-pen"></i></label>
                  <input type="number" name="mobile" value=<%= user.mobile %> >
                </span>
               <span>
                  <label for="email">Email <i class="fas fa-lock" style="margin-left: .5rem;"></i></label>
                  <input type="email" name="email" value=<%= user.email %> readonly>
               </span>             
               <span>
                 <label for="gender">Gender<i class="fas fa-pen"></i></label>
                 <input type="text" name="gender" value=<%= user.gender %> >
              </span>
              <!-- Changing date format for better understanding -->
                   <% newdate = new Date (user.date)
                      newdate = newdate.toDateString()
                      newdate = newdate.split(' ')
                      newdate = newdate.splice(1); %>
              <span>
                <label for="date">Date Of Birth<i class="fas fa-pen"></i></label>
                <input type="text" name="date" value="<%= newdate %>" placeholder="mon-dd-yyyy" >
              </span>
              <span>
                <label for="city">City<i class="fas fa-pen"></i></label>
                <input type="text" name="city" value="<%= user.city %>" placeholder="No city selected" >
              </span>
              <span>
                <label for="state">State<i class="fas fa-pen"></i></label>
                <input type="text" name="state" value="<%= user.state %>"  placeholder="No state selected" >
              </span>
              <span>
                <label for="country">Country<i class="fas fa-pen"></i></label>
                <input type="text" name="country" value="<%= user.country %>" placeholder="No country selected" >
              </span>
              <span>
                <label for="bloodgroup">Blood Group<i class="fas fa-pen"></i></label>
                <input type="text" name="bloodgroup" value="<%= user.blood %>" placeholder="No data available" >
              </span>
            </div> 
          </form>
    </div>
</div>
    
</section>
<!-- footer -->
<%- include("./partials/footer") %>
<!-- fotter -->
</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
<script src="../Dom/profile.js"></script>
</html>