<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/messages.css">
    <title>Sign Up</title>
</head>
<body>
    
<header><!-- Header Nav starts here -->
        <nav class="container">
            <div class="nav-img">
                <a href="./index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo_Tvastra"></a>
            </div>
            <div class="nav-links"><!--Content for pc and laptop-->
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
            </div>
            <div class="nav-button">
                <a href="./signin.html"><button class="nav-login-button">Sign In</button></a>
            </div>  <!--Content for pc and laptop-->

            <div class="dropdown"><!-- Content for tablet and Mobile View Only -->
               <i onclick="myFunction()" class="dropbtn fas fa-bars fa-lg"></i>
               <div id="myDropdown" class="dropdown-content">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                   <a href="./signin.html">SignIn</a>
               </div>
            </div> <!-- Content for tablet view Only till here -->
        </nav>
</header> <!-- Header Nav ends Here -->

<section>
    <div class="signup-form">
        <h2>Sign Up</h2>
        <hr>
        <!-- Messages to flash  -->
            <%- include("./partials/messages")  %>
        <!-- Messages to flash  -->
        <form action="/signup.html" class="form" method="POST">
            <input type="text" class="name" name="name" placeholder="Enter Name" value="<%= typeof name != 'undefined' ? name : '' %>" >
            <input type="email" class="Email" name="email" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>" >
            <input type="password" class="password" name="password" placeholder="Enter Password" value="<%= typeof password != 'undefined' ? password : '' %>" >
            <input type="password" class="password2" name="password2" placeholder="Confirm Password" >
            <input type="text" name="gender" list="Gender" id="Gender" placeholder="Enter your Gender">
            <datalist id="Gender">
                <option value="M">Male</option>
                <option value="f">Female</option>
                <option value="O">Others</option>
            </datalist>
            <input type="date" name="date" id="date" placeholder="D.O.B" >
            <input type="number" name="mobile" class="phone-number" placeholder="Enter Number" value="<%= typeof mobile != 'undefined' ? mobile : '' %>" >
            <input type="text" list="cities" id="city" name="city" placeholder="Enter your City">
            <datalist id="cities">
            <option >Delhi</option>
            <option >Mumbai</option>
            <option >Chennai</option>
            <option >Bangalore</option>
            <option >Punjab</option>
            <option >Other</option>  
        </datalist>
            <button  class="signup-button" type="submit">SIGN UP</button>
        </form>
        <div class="form-footer">
            <h6>Have an Account?</h6>
            <a href="./signin.html">Sign In</a>
        </div>
    </div>
    <p class="login-footer">All Rights Reserved. &#169; tvastra 2021</p>
 </section>
 <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
</html>